text,
input,
radio,
button,
tab {
	stroke: automatic;
}

input,
tab {
	fill: automatic;
}

@media (prefers-color-scheme: light) {
	.error-text {
		stroke: #C43E00;
	}
}

@media (prefers-color-scheme: dark) {
	.error-text {
		stroke: #FF8A65;
	}
}
